@charset "utf-8";
body{
    background: #f0f3fa;
}

/*列表样式*/
.btn_Add{
    float: right;
    overflow: hidden;
    margin: 10px 0 10px 0;
    cursor: pointer;
}
.content{
    clear: both;
    padding: 0 30px;

}

table{
    width:100%;
    background: #ffffff;
    border-collapse:collapse;
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 30px;
    overflow-x: auto;
}
table td{
    height:44px;
    text-align: center;
    line-height: 44px;
    border:1px solid #f6f8fc;
}
table td a{
    margin: 0 5px;
    color: #4a4a4a;
}
table th{
    background: #f6f8fc;
    height:44px;
    text-align: center;
    line-height: 44px;
}
/*分页按钮样式*/
.pagination{
    font-size: 14px;
    width:100%;
    text-align: center;
    position: relative;
}
.pagination span{
    margin-right: 20px;
}
.pagination .left{
    position: absolute;
    left:10px;
}
.pagination .button{
    cursor: pointer;

}

.pagination input{
    width:20px;
    background: #f6f8fc;
}
.pagination .font-color{
    color:#ee9c15;
}
/*弹框样式*/
.mydiv {
    border: none;
    font-size: 18px;
    z-index: 999;
    width: 300px;
    height: 140px;
    left: 50%;
    top: 40%;
    background: #fff;
    color: #333333;
    margin-left: -200px!important;
    margin-top: 0;
    position: fixed!important;
    text-align: center;
    -webkit-box-shadow:0 0 10px #c9d5e4;
    -moz-box-shadow:0 0 10px #c9d5e4;
    box-shadow:0 0 10px  #c9d5e4;
    border-radius: 4px;
}
.mydiv p{
    margin: 30px 0 ;
    color: #333333;
}
.btn_img{
    margin-bottom: 30px;
}
.btn_img .img1{
    margin-right: 52px;
}

.adminPopup {
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #000;
    margin-top: -10px;
}
